.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.658);
    color: white;
    text-align: center;
}

.videoWrapper{
    width:400px;
    height: 300px;
}
video {
    padding-left: 50px;
    max-width: 400px; 
    max-height: 300px;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}